@use "../custom" as*;
@use "../components/mixins" as *;

.footer {
    font-size: 0.8rem;
    padding-top: 1rem;
    text-decoration: none;
    background-color: #212121;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }
}

//styling icons

.footer-sm {

    a {
        color: $white;

        i {
            font-size: 1.5rem;
            margin-left: 2rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;
            }

        }
    }
}

.mail {
    font-family: 'Poppins', sans-serif;
    color: $white;
    font-size: 1rem;

    @include media-breakpoint-up(sm) {
        font-size: 1.2rem;
    }
}

//styling copy-rights

.footer-bottom {
    background-color: #212121;

    &__copyright {
        color: $gray-600;
        font-weight: 400;

    }
}